.liquid-modal-dialog-container {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.liquid-modal-dialog-overlay {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 101;
    background-color: rgba(0,0,0,0.5);
}

.liquid-modal-dialog-active {
    display: flex;
}

.liquid-modal-dialog {
    display: flex;
    flex-direction: column;
    width: 50rem;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #fff;
    padding: 1.5rem;
    box-shadow: 0 2px 2px rgba(0,0,0,.25);
    max-height: 90vh; /*90% of the browser height*/
    max-width: 90vw; /*90% of the browser width*/
}

.liquid-modal-dialog-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 0 2rem 0;
}

.liquid-modal-dialog-title {
    margin-bottom: 0;
}

.liquid-modal-dialog-close {
    padding: 1rem;
    margin: -1rem -1rem -1rem auto;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
}

.liquid-modal-dialog-content{
    overflow:auto;
    padding-right:1rem;
}

.liquid-modal-dialog-center {
    align-items: center;
    justify-content: center;
}

.liquid-modal-dialog-wrapper {
    z-index: 102;
}

.liquid-modal-dialog-topleft .liquid-modal-dialog-wrapper {
    position: absolute;
    top: 32px;
    left: 32px;
}

.liquid-modal-dialog-topright .liquid-modal-dialog-wrapper {
    position: absolute;
    top: 32px;
    right: 32px;
}

.liquid-modal-dialog-bottomleft .liquid-modal-dialog-wrapper {
    position: absolute;
    bottom: 32px;
    left: 32px;
}

.liquid-modal-dialog-bottomright .liquid-modal-dialog-wrapper {
    position: absolute;
    bottom: 32px;
    right: 32px;
}
